@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 12px;
  padding: 1px;
  mask: linear-gradient(#fff 0 0) content-box exclude,
        linear-gradient(#fff 0 0);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes spinSlow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes spinMedium {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Classes you can use */
.fade-in {
  animation: fadeIn 2s linear 0.5s forwards;
}

.spin-slow {
  animation: spinSlow 30s linear infinite;
}

.spin-medium {
  animation: spinMedium 15s linear infinite;
}

.shiny-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    1.79422deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 20px;
  padding: 1px;
  mask: linear-gradient(#fff 0 0) content-box exclude,
        linear-gradient(#fff 0 0);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.radial-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at 415px 13px,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  filter: blur(10px);
  z-index: 0;
}